<!DOCTYPE html>
<html lang="es">
<title>Admin Dashboard - Digital Gaming</title>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main class="dash-fath h-100 flex" id="dash">
        <section class="options-dash bg-dark text-white" id="dash-option">
            <h1 class="text-center tamano-title dash-tit">Dashboard</h1>
            <ul class="flex j-content-center align-center f-direction-column w-100 list-options">
                <li class="select-option" id="users">Usuarios</li>
                <li class="select-option" id="products">Productos</li>
                <li class="select-option" id="stats">Stats</li>
                <li class="select-option" id="notice">Notice</li>
                <li class="select-option"></li>
            </ul>
        </section>
        <section class="contains-dash">
            <%- include('../admin/sections/dash-users') %>
        </section>
    </main>
</body>
</html>