<!DOCTYPE html>
<html lang="es">
<title>Admin Dashboard - Digital Gaming</title>
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main class="dash-fath">
        <section class="options-dash">

        </section>
        <section class="contains-dash">
            <%- include('./admin/sections/dash-users') %>
        </section>
    </main>
</body>
</html>