<!DOCTYPE html>
<html lang="es">
<title>Admin Dashboard - Digital Gaming</title>
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main class="dash-fath">
        <section class="options-dash">
            <ul>
                <li class="select-option">Usuarios</li>
                <li class="select-option">Productos</li>
                <li class="select-option">Stats</li>
                <li class="select-option">Notice</li>
                <li class="select-option"></li>
            </ul>
        </section>
        <section class="contains-dash">
            <%- include('./admin/sections/dash-users') %>
        </section>
    </main>
</body>
</html>