<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="bg-dkblue h-100 w-100 flex align-center j-content-center ">
        <h1 class="text-white"> Page not Found! </h1>
    </div>
</body>

</html>