<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/vectors/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <!--Sunflower font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    <!--Archivo font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;900&display=swap"
        rel="stylesheet">
    <title>Digital Gaming</title>
</head>

<body>
    <img src="/vectors/span.svg" class="h-100 span-home" alt="span">
    <div class="video-container w-100"></div>
    <header class="w-100 header-home text-white flex align-center cenrter">
        <nav class="w-100 nav-proj mg-lat-1 flex align-center j-content-space-betwen">
            <div class="flex align-center w-35 j-content-around">
                <img src="/vectors/favicon.svg" alt="logo" class="logo">
                <button class="logo not-tablet flag-icon not-border"></button>
                <button class="logo not-mobile star-icon not-border"></button>
                <span class="text-white not-tablet">Categorias</span>
            </div>
            <div>
                <input type="text" placeholder="Buscar" class="search-input">
            </div>
            <div class="flex align-center w-35 j-content-around">
                <button class="logo not-tablet cart-icon not-border"></button>
                <button class="not-tablet reg-icon">REGISTRATE</button>
                <button class="logo not-mobile user-icon"></button>
                <button class="logo btn-menu"></button>
            </div>
        </nav>
        <div class="menu-lat bg-dark w-100 h-100">
            <button class="close btn-cls"></button>
            <div class="text-center">
                <ul class="pointer">
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main text-white">
        <section class="home-section">
            <div class="child-home w-100 h-100 flex">
                <h1>home</h1>
            </div>
            <div class="present-view-section w-100 flex">
                <section class="marca w-100 flex align-center j-content-center f-direction-column">
                    <div class="logo-prec flex">
                        <img src="../resources/vectors/favicon.svg" alt="logo">
                    </div>
                    <div class="sub-msj flex f-direction-column j-content-center">
                        <h2>Los mejores juegos, los encontras acá</h2>
                        <p>Explora nuestro catalogo</p>
                    </div>
                </section>
                <section class="prev-zone w-100 flex">
                    <div class="product-prev h-100 bg-purple absolute rigth"></div>
                    <div class="product-prev_2 h-100 bg-limagreen absolute rigth"></div>
                    <div class="product-prev_3 h-100 bg-dark absolute rigth"></div>
                </section>
            </div>
            <video class="h-100 video_main" muted autoplay loop>
                <source src="/videos/main-sinpeso.mp4">
            </video>
        </section>
        <section class="recomendados-section w-100 h-100 bg-dkblue">
            <h3>recomendados</h3>
        </section>
        <section class="caract-section">
            <h3>caracteristicas</h3>
        </section>
        <section class="category-section">
            <h3>categoria</h3>
        </section>
        <section class="experience-section">
            <h3>experience</h3>
        </section>
        <section class="chain-store">
            <h3>chain store</h3>
        </section>
    </main>
    <footer>

    </footer>
    <script src="/js/home.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>