<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../resources/img/logodg.svg" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/styles.css">
    <!--Sunflower font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    <!--Archivo font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <title>Digital Gaming</title>
</head>

<body>
    <header>

    </header>
    <main class="main bg-dkblue text-white">
        <section class="home-section">
            <h3>home</h3>
        </section>
        <section class="present-view-section">
            <h3>preview</h3>
        </section>
        <section class="recomendados-section">
            <h3>recomendados</h3>
        </section>
        <section class="caract-section">
            <h3>caracteristicas</h3>
        </section>
        <section class="category-section">
            <h3>categoria</h3>
        </section>
        <section class="experience-section">
            <h3>experience</h3>
        </section>
        <section class="chain-store">
            <h3>chain store</h3>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>