<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Need For Speed Unbound</title>
    <link rel="shortcut icon" href="/vectors/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/product-detail.css">
    <!--Sunflower font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    <!--Archivo font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <script defer src="/js/main.js"></script>
</head>

<body class="bg-dkblue">
    <header class="w-100 header-home text-white flex align-center cenrter">
        <nav class="w-100 nav-proj mg-lat-1 flex align-center j-content-space-betwen">
            <div class="flex align-center w-35 j-content-around">
                <img src="/vectors/favicon.svg" alt="logo" class="logo">
                <button class="logo not-tablet flag-icon not-border"></button>
                <button class="logo not-mobile star-icon not-border"></button>
                <span class="text-white not-tablet">Categorias</span>
            </div>
            <div class="cont-barfind">
                <input type="text" placeholder="Buscar" class="search-input text-white">
                <a href="" class="lupa pointer">
                    <img src="/vectors/search.svg" alt="lupa">
                </a>
            </div>
            <div class="flex align-center w-35 j-content-around">
                <button class="logo not-tablet cart-icon not-border"></button>
                <a href="" class="reg-icon antiancor text-center pointer not-tablet">REGISTRATE</a>
                <button class="logo not-mobile user-icon"></button>
                <button class="logo btn-menu"></button>
            </div>
        </nav>
        <div class="menu-lat bg-dark w-100 h-100">
            <button class="close btn-cls"></button>
            <div class="text-center">
                <ul class="pointer">
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="detail-main">
        <section class="detail-product h-100 flex align-center j-content-center ">
            <article class="w-100 flex f-direction-column align-center j-content-center detail-art">
                <div class="detail-portada flex align-center j-content-center">
                    <span>X</span>
                    <img src="/img/nfsportada.jpg" alt="nfs" class="img">
                    <span>X</span>
                </div>
                <div class="detail-info text-white flex f-direction-column align-center">
                    <H1>Need For Speed Unbound</H1>
                    <span>Pc/Windows</span>
                    <h3>Elige el formato</h3>
                    <section class="detail-format bg-limagreen flex f-direction-column">
                        <a href="" class="formato bg-dark not-link text-white">Fisico<span class="price-format bg-white text-dark">$0000</span></a>
                        <a href="" class="formato bg-dark not-link text-white">Digital<span class="price-format bg-white text-dark">$0000</span></a>
                    </section>
                    <ul class="medio-pago flex align-center j-content-center">
                        <li class="visa icon-pago"></li>
                        <li class="mastercard icon-pago"></li>
                        <li class="hsbc icon-pago"></li>
                        <li class="card-icon icon-pago"></li>
                    </ul>
                    <a href="" class="btn-generic bg-limagreen not-link text-white text-center">COMPRAR AHORA</a>
                    <p>Comprar como regalo</p>
                </div>
                <div class="poligon-detail__black w-100 bg-dark"></div>
                <div class="poligon-detail w-100 bg-limagreen"></div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

</html>