<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruduct Cart - DG</title>
    <link rel="shortcut icon" href="/vectors/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pruduct-cart.css">
    <link rel="stylesheet" href="/css/index-category.css">
    <!--Sunflower font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    <!--Archivo font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <script defer src="/js/header.js"></script>
    <script defer src="/js/main.js"></script>
</head>
<body class="bg-dkblue">
    <header class="w-100 header-home text-white flex align-center cenrter">
        <nav class="w-100 nav-proj mg-lat-1 flex align-center j-content-space-betwen">
            <div class="flex align-center w-35 j-content-around">
                <img src="/vectors/favicon.svg" alt="logo" class="logo">
                <div class="logo not-tablet flag-icon not-border"></div>
                <div class="logo not-mobile star-icon not-border"></div>
                <div class="categ-nav text-white not-tablet align-center pointer">
                    <p class="size-font-parr">Categorias</p>
                    <span class="flex icon-double-bott"></span>
                    <section class="despcat bg-dark w-100">
                        <div class="content-cat w-100 flex align-center j-content-center ">
                            <article class="card-caregorinav flex">
                              <img src="/img/portada-marioarcade.jpg" alt="arcade mario">
                              <h1 class="tamano-title tlt-card flex align-center j-content-center">ARCADE</h1>
                            </article>
                            <article class="card-caregorinav flex">
                              <img src="/img/portada-alienav.jpg" alt="terror aliens">
                              <h1 class="tamano-title tlt-card flex align-center j-content-center">TERROR</h1>
                            </article>
                            <article class="card-caregorinav flex">
                              <img src="/img/portada-ufcdeportes.jpg" alt="arcade mario">
                              <h1 class="tamano-title tlt-card flex align-center j-content-center">DEPORTES</h1>
                            </article>
                            <article class="card-caregorinav flex">
                              <img src="/img/portada-assetonav.jpg" alt="arcade mario">
                              <h1 class="tamano-title tlt-card flex align-center j-content-center">SIMULACION</h1>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
            <div class="cont-barfind">
                <input type="text" placeholder="Buscar" class="search-input text-white">
                <a href="" class="lupa pointer">
                    <img src="/vectors/search.svg" alt="lupa">
                </a>
            </div>
            <div class="flex align-center w-35 j-content-around">
                <div class="logo not-tablet cart-icon not-border"></div>
                <a href="" class="reg-icon antiancor text-center pointer not-tablet">REGISTRATE</a>
                <div class="logo not-mobile user-icon"></div>
                <button class="logo btn-menu"></button>
            </div>
        </nav>
        <div class="menu-lat bg-dark w-100 h-100">
            <button class="close btn-cls"></button>
            <div class="flex align-center j-content-center">
                <ul class="pointer menu-cont text-white text-center flex align-center j-content-center f-direction-column h-100 tamano-title">
                    <li class="menu-elem">Home</li>
                    <li class="menu-elem">Catalogo</li>
                    <li class="menu-elem">Categorias</li>
                    <li class="menu-elem">Nosotros</li>
                    <li class="menu-elem">Carrito</li>
                    <li class="menu-elem">Contacto</li>
                </ul>
            </div>
        </div>
        <div>
          <input type="text" placeholder="Buscar" class="search-input" />
        </div>
        <div class="flex align-center w-35 j-content-around">
          <button class="logo not-tablet cart-icon not-border"></button>
          <button class="not-tablet reg-icon">REGISTRATE</button>
          <button class="logo not-mobile user-icon"></button>
          <button class="logo btn-menu"></button>
        </div>
      </nav>
      <div class="menu-lat bg-dark w-100 h-100">
        <button class="close btn-cls"></button>
        <div class="text-center">
          <ul class="pointer">
            <li class="menu-elem"></li>
            <li class="menu-elem"></li>
            <li class="menu-elem"></li>
            <li class="menu-elem"></li>
            <li class="menu-elem"></li>
            <li class="menu-elem"></li>
          </ul>
        </div>
      </div>
    </header>
    <main class="main-product-cart h-100 text-white">
        <form action="" class="form-compra flex align-center j-content-center f-direction-column ">
            <p class="form-row flex align-center j-content-space-betwen">
                <label for="nombre">Nombre:</label>
                <input class="input-form" type="text" name="nombre" id="nombre">
            </p>
            <div class="pago-formcart flex">
                <span class="pago-title">Medio de pago:</span>
                <ul id="list-cart-cash" class="medio-pago flex align-center j-content-center">
                    <li class="visa icon-pago"></li>
                    <li class="mastercard icon-pago"></li>
                    <li class="hsbc icon-pago"></li>
                    <li class="card-icon icon-pago"></li>
                </ul>
            </div>
            <p class="form-row flex align-center j-content-space-betwen">
                <label for="direccion">Direccion:</label>
                <input class="input-form" type="text" name="direccion" id="direccion">
            </p>
            <p class="form-row flex align-center j-content-space-betwen">
                <label for="code-postal">Codigo Postal:</label>
                <input class="input-form" type="text" name="code-postal" id="code-postal">
            </p>
            <section class="detail-compra">
                <h1>Detalle de compra</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img class="logo" src="/img/nfsportada.jpg" alt="Unbound"></td>
                            <td>Need for speed Unbound</td>
                            <td>$00.00</td>
                            <td>2</td>
                            <td>$0.00</td>
                            <td><button type="reset">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
                  
            </section>
        </form>
    </main>
    <footer class="pie text-white">
        <section class="footer-section w-100 bg-dkblue">
          <div class="polygono-footer bg-dark"></div>
          <article class="pieInfo flex ">
            <div class="botones-footer">
              <button>Sobre Nosotros</button>
              <button>Reglas de la Comunidad</button>
              <button>Términos de servicio</button>
            </div>
            <div class="logoFooter">
              <img src="/vectors/favicon.svg" alt="Logo de Footer">
            </div>
          </article>
          <h4>Copyright ©2023 Digital Gaming Inc. Todos los derechos reservados.</h4>
        </section>
        <div class="copyright"></div>
      </footer>
</body>
</html>