<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Need For Speed Unbound</title>
    <link rel="shortcut icon" href="/vectors/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/product-detail.css">
    <!--Sunflower font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    <!--Archivo font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <script defer src="/js/main.js"></script>
    <script defer src="/js/header.js"></script>
</head>
<body>
    <header class="w-100 header-home text-white flex align-center cenrter">
        <nav class="w-100 nav-proj mg-lat-1 flex align-center j-content-space-betwen">
            <div class="flex align-center w-35 j-content-around">
                <img src="/vectors/favicon.svg" alt="logo" class="logo">
                <div class="logo not-tablet flag-icon not-border"></div>
                <div class="logo not-mobile star-icon not-border"></div>
                <div class="categ-nav bg-dark text-white not-tablet align-center size-font-parr pointer">Categorias <span class="flex icon-double-bott"></span></div>
            </div>
            <div class="cont-barfind">
                <input type="text" placeholder="Buscar" class="search-input text-white">
                <a href="" class="lupa pointer">
                    <img src="/vectors/search.svg" alt="lupa">
                </a>
            </div>
            <div class="flex align-center w-35 j-content-around">
                <div class="logo not-tablet cart-icon not-border"></div>
                <a href="" class="reg-icon antiancor text-center pointer not-tablet">REGISTRATE</a>
                <div class="logo not-mobile user-icon"></div>
                <button class="logo btn-menu"></button>
            </div>
        </nav>
        <div class="despcat bg-dark w-100">
          <section class="content-cat"></section>
        </div>
        <div class="menu-lat bg-dark w-100 h-100">
            <button class="close btn-cls"></button>
            <div class="text-center">
                <ul class="pointer text-white">
                    <li class="menu-elem">Home</li>
                    <li class="menu-elem">Catalogo</li>
                    <li class="menu-elem">Categorias</li>
                    <li class="menu-elem">Nosotros</li>
                    <li class="menu-elem">Carrito</li>
                    <li class="menu-elem">Contacto</li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="detail-product h-100 flex align-center j-content-center ">
            <article class="w-100 flex f-direction-column align-center j-content-center detail-art">
                <div class="detail-portada flex align-center j-content-center">
                    <span>X</span>
                    <img src="/img/nfsportada.jpg" alt="nfs" class="img">
                    <span>X</span>
                </div>
                <div class="detail-info text-white flex f-direction-column align-center">
                    <div class="div-game-title">
                        <H1 class="tamano-title">Need For Speed Unbound</H1>
                        <span class="text-subtitle">Pc/Windows</span>
                    </div>
                    <h3>Elige el formato</h3>
                    <section class="detail-format bg-limagreen flex f-direction-column align-center j-content-center">
                        <a href="" class="formato bg-dark not-link text-white text-center">Fisico<span class="price-format bg-white text-dark">$0000</span></a>
                        <a href="" class="formato bg-dark not-link text-white text-center">Digital<span class="price-format bg-white text-dark">$0000</span></a>
                    </section>
                    <ul class="medio-pago flex align-center j-content-center">
                        <li class="visa icon-pago"></li>
                        <li class="mastercard icon-pago"></li>
                        <li class="hsbc icon-pago"></li>
                        <li class="card-icon icon-pago"></li>
                    </ul>
                    <a href="" class="btn-generic bg-limagreen not-link text-white text-center">COMPRAR AHORA</a>
                    <p>Comprar como regalo</p>
                </div>
                <div class="poligon-detail__black w-100 bg-dark"></div>
                <div class="poligon-detail w-100 bg-limagreen"></div>
            </article>
        </section>
        <section class="h-100 detail-description flex f-direction-column align-center j-content-center">
            <article class="text-white article-desc flex f-direction-column">
                <h1 class="tamano-title">Need for Speed Unbound</h1>
                <p>Need for Speed Unbound para PC es un juego de carreras, el vigésimo quinto de la impresionantemente larga franquicia Need for Speed, que demuestra que cada generación se nutre de la velocidad de una forma u otra. Acerca del Juego El juego está ambientado en una ciudad ficticia llamada Lakeshore City, inspirada vagamente en Chicago.</p>
            </article>
            <video class="detail-video" autoplay muted loop>
                <source src="/videos/gameplayunbound.mp4">
            </video>
        </section>
        <section class="requisitos h-100 flex f-direction-column w-100"> 
            <div class="title-req w-100 bg-dark flex align-center j-content-space-betwen">
                <h1 class="text-white tamano-title">REQUISITOS</h1>
                <span class="bg-limagreen span-req"></span>
            </div>
            <div class="text-white tablas-req flex f-direction-column">
                <section class="minimo-req bg-dark first-table flex j-content-center align-center f-direction-column">
                  <h3>Minimo</h3>  
                  <table class="text-center text-subtitle">
                        <tbody>
                          <thead>
                          </thead>
                          <tr>
                            <td>Sistema operativo:</td>
                            <td>Windows 10</td>
                          </tr>
                          <tr>
                            <td>Procesador:</td>
                            <td>Intel Core i7</td>
                          </tr>
                          <tr>
                            <td>Memoria:</td>
                            <td>16 GB RAM</td>
                          </tr>
                          <tr>
                            <td>Gráficos:</td>
                            <td>NVIDIA GeForce RTX 3080</td>
                          </tr>
                          <tr>
                            <td>Direct X:</td>
                            <td>Direct X 12</td>
                          </tr>
                          <tr>
                            <td>Almacenamiento:</td>
                            <td>SSD 512 GB</td>
                          </tr>
                        </tbody>
                    </table>
                </section>
                <section class="minimo-req req-max flex j-content-center align-center f-direction-column">
                  <h3>Recomendado</h3>    
                  <table class="recomendado text-center">
                        <tbody class="text-subtitle">
                          <tr>
                            <td>Sistema operativo:</td>
                            <td>Windows 10</td>
                          </tr>
                          <tr>
                            <td>Procesador:</td>
                            <td>Intel Core i7</td>
                          </tr>
                          <tr>
                            <td>Memoria</td>
                            <td>16 GB RAM</td>
                          </tr>
                          <tr>
                            <td>Gráficos:</td>
                            <td>NVIDIA GeForce RTX 3080</td>
                          </tr>
                          <tr>
                            <td>Direct X:</td>
                            <td>Direct X 12</td>
                          </tr>
                          <tr>
                            <td>Almacenamiento:</td>
                            <td>SSD 512 GB</td>
                          </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>