<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/product-detail.css">
    <script defer src="/js/main.js"></script>
</head>

<body class="bg-dkblue">
    <header class="w-100 header-home text-white flex align-center cenrter">
        <nav class="w-100 nav-proj mg-lat-1 flex align-center j-content-space-betwen">
            <div class="flex align-center w-35 j-content-around">
                <img src="/vectors/favicon.svg" alt="logo" class="logo">
                <button class="logo not-tablet flag-icon not-border"></button>
                <button class="logo not-mobile star-icon not-border"></button>
                <span class="text-white not-tablet">Categorias</span>
            </div>
            <div class="cont-barfind">
                <input type="text" placeholder="Buscar" class="search-input text-white">
                <a href="" class="lupa pointer">
                    <img src="/vectors/search.svg" alt="lupa">
                </a>
            </div>
            <div class="flex align-center w-35 j-content-around">
                <button class="logo not-tablet cart-icon not-border"></button>
                <a href="" class="reg-icon antiancor text-center pointer">REGISTRATE</a>
                <button class="logo not-mobile user-icon"></button>
                <button class="logo btn-menu"></button>
            </div>
        </nav>
        <div class="menu-lat bg-dark w-100 h-100">
            <button class="close btn-cls"></button>
            <div class="text-center">
                <ul class="pointer">
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                    <li class="menu-elem"></li>
                </ul>
            </div>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>

</html>