<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Inicio Sesion</title>

    <body>
        <%- include('../partials/header') %>
            <section class="session-sect">
                <div class="page-container">
                    <form class="login-container" action="/login" method="POST">

                        <div class="login-box">
                            <h1 class="tamano-title title-login flex f-direction-column align-center j-content-center">
                                Inicia Sesión</h1>
                            <div class="input-group size-font-parr">
                                <label for="email">Email <i class="bi bi-person"></i> </label>
                                <input type="email" id="email" placeholder="email@ejemplo.com" name="email">
                            </div>
                            <div class="input-group size-font-parr">
                                <label for="password">
                                    Contraseña
                                    <i class="bi bi-file-lock"></i>
                                </label>
                                <input type="password" id="password" placeholder="Tu contraseña" name="password">
                            </div>
                            <button type="submit" class="login-btn size-font-parr text-center">Ingresar</button>
                            <div class="signup-text flex f-direction-column">
                                <span>No tienes una cuenta?</span>
                                <span class="reg-321">Regístrate!</span>
                            </div>
                        </div>


                    </form>
                </div>

            </section>

            <%- include('../partials/footer') %>
                <%- include('../partials/js') %>

    </body>

</html>