<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>

    <body class="bg-dkblue">
        <%- include('../partials/header') %>
            <main>
                <section class="bg-dkblue">
                    <div class="page-container">
                        <div class="input-container-register">
                            <div class="register">
                                <h1>Registro</h1><br>
                                <hr>
                                <div class="form">
                                    <form action="/register" method="post" id="form">
                                        <label for="username">Apellido: <i class="bi bi-person-lines-fill"></i>
                                        </label>
                                        <input type="text" id="lastname" name="lastname"
                                            placeholder="Enter your lastname" required><br>
                                        <hr>
                                        <label for="username">Nombre: <i class="bi bi-person-video2"></i></label>
                                        <input type="text" id="username" name="username" placeholder="Enter your name"
                                            required><br>
                                        <hr>
                                        <label for="email">Correo Electronico: <i class="bi bi-envelope"></i></label>
                                        <input type="email" id="email" name="email" placeholder="Enter your email"
                                            required><br>
                                        <hr>
                                        <label for="phone">Número de Telefono: <i class="bi bi-123"></i></label>
                                        <input type="number" id="phone" name="phone" placeholder="Enter your number"
                                            required><br>
                                        <hr>
                                        <label for="password">Contraseña: <i class="bi bi-file-lock"></i></label>
                                        <input type="password" id="password" name="password"
                                            placeholder="Enter your password" required><br>
                                        <hr>
                                        <label for="password2">Confirmar Contraseña: <i class="bi bi-key"></i></label>
                                        <input type="password" id="password2" name="password2"
                                            placeholder="Enter your password" required>
                                        <hr><br>
                                        <button class="register-btn" type="submit">Registrarse</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </main>
            <%- include('../partials/footer') %>
                <%- include('../partials/js') %>
    </body>

</html>