<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Carrito</title>

    <body>
        <%- include('../partials/header') %>
            <main style=" justify-content: center; align-items: center; text-align: center;">
                <section class="bg-dkblue">
                    <div class="page-container">
                        <div class="input-container-productCart">
                            <div class="form">
                                <form action="options" method="post" id="form">
                                    <label for="username">Nombre de Usuario:</label>
                                    <input type="text" id="username" name="username" placeholder="Enter your name"
                                        required><br>
                                    <hr>
                                    <label for="pay">Método de pago:</label>
                                    <select class="select-estilizado" id="options" name="options">
                                        <option value="" disabled selected>Seleccione un método de pago</option>
                                        <option value="visa">Visa</option>
                                        <option value="HSBC">HSBC</option>
                                        <option value="masterCard">MasterCard</option>
                                        <option value="creditCard">Tarjeta Virtual</option>
                                        <option value="otra">Otro</option>
                                    </select>
                                    <input type="text" id="otraOption" name="otraOption"
                                        placeholder="Ingrese otra opción" style="display: none;">
                                    <br>
                                    <hr>
                                    <label for="direction2">Número de Tarjeta:</label>
                                    <input type="number" id="cardNumer" name="cardNumber"
                                        placeholder="Enter your number card" required><br>
                                    <hr>
                                    <label for="direction">Direccion:</label>
                                    <input type="text" id="direction" name="direction" placeholder="Enter your address"
                                        required><br>
                                    <hr>
                                    <label for="direction2">Código Postal:</label>
                                    <input type="number" id="direction2" name="direction2"
                                        placeholder="Enter your zip code" required>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>

                <section class="bg-dkblue">
                    <div class="page-container">
                        <div class="container-productCart">
                            <h3>Detalle de la compra</h3>
                            <hr><br>
                            <div class="colums">
                                <ul>
                                    <li>Producto</li>
                                    <li>Nombre </li>
                                    <li>Precio</li>
                                    <li>Cantidad</li>
                                    <li>Subtotal</li>
                                    <li style="margin-left:-20px;">Eliminar</li>
                                </ul>
                            </div><br>
                            <form>
                                <ul class="product-details">
                                    <li>
                                        <div class="product">
                                            <img src="img/nfsportada.jpg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name-product">
                                            <h3>NSF Juego Online</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="price">
                                            <p> $100.00</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="quantity">
                                            <input type="number" id="quantity1" name="quantity1" min="1" value="1">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-price">
                                            <p> $100.00</p>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="delete-button" style="margin-left: -100%;">
                                            <span class="delete-icon">X</span>
                                        </button>
                                    </li>
                                </ul>
                                <ul class="product-details">
                                    <li>
                                        <div class="product">
                                            <img src="img/nfsportada.jpg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name-product">
                                            <h3>NSF Juego Online</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="price">
                                            <p> $100.00</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="quantity">
                                            <input type="number" id="quantity1" name="quantity1" min="1" value="1">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-price">
                                            <p> $100.00</p>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="delete-button" style="margin-left: -100%;">
                                            <span class="delete-icon">X</span>
                                        </button>
                                    </li>
                                </ul>
                                <ul class="product-details">
                                    <li>
                                        <div class="product">
                                            <img src="img/nfsportada.jpg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name-product">
                                            <h3>NFS Juego Online</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="price">
                                            <p> $100.00</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="quantity">
                                            <input type="number" id="quantity1" name="quantity1" min="1" value="1">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-price">
                                            <p> $100.00</p>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="delete-button" style="margin-left: -100%;">
                                            <span class="delete-icon">X</span>
                                        </button>
                                    </li>
                                </ul>
                                <button class="btn-buy" type="submit">Realizar Compra</button>
                                <button class="btn-delete" type="button">Eliminar</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </section>
            </main>

            <%- include('../partials/footer') %>
    </body>

</html>