.dash-fath{
    background: red;
}
.options-dash{
    width: 25%;
    height: 100%;
}
.list-options{
    height: 65%;
    font-size: 3.5vh;
    gap: 2vh;
}
.dash-tit{
    padding: 10vh;
}
.contains-dash{
    width: 75vw;
}