.main {
  position: relative;
}

.home-section {
  position: relative;
}
.video_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  object-fit: cover;
  z-index: -1;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 210vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.span-home {
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  float: right;
  object-fit: cover;
  z-index: 1;
}

/*----Estilos para la SECTION "Recomendados"----*/
.recomendados-section {
  position: relative;
  width: 100vw;
  height: 120vh;
  z-index: 1;
  gap: 6vh;
}

.recomendados {
  position: relative;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 9vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.recomendados h3 {
  padding: 1vh 0;
}

.recomendados button {
  font-size: 2vh;
  padding: 0;
  border: none;
  background-color: transparent;

  font-weight: bold;
  color: white;
}

.titles {
  width: 50vw;
}

.polygono {
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  height: 120vh;
  z-index: 0;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

/*----Estilos de la Cards----*/
.articles {
  position: relative;
  width: 100vw;
  z-index: 1;
}

.products {
  width: 85vw;
}

.products img {
  position: absolute;
  width: 85vw;
  height: 23vh;
  opacity: 0.8;
}

.share-img {
  position: relative;
}

.info {
  height: 5vh;
  padding: 4.5vh 0;
}

.name-game {
  gap: 1vh;
}

.name-game p {
  color: rgb(154, 154, 154);
}

.precio {
  font-weight: 600;
  font-size: 2.5vh;
}

.portada {
  align-items: flex-end;
  height: 23vh;
}

.descuentos-span {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  width: 30vw;
  height: 4vh;
  padding: 2.2vh;
  font-weight: 700;
}

.share-img img {
  position: relative;
  height: 5vh;
  width: 5vw;
}

.share-img p {
  width: 13vw;
  font-size: 1.5vh;
  font-weight: 600;
}

/*----Estilos de Seccion Caracteristicas----*/
.caract-section {
  background-image: url('/img/mobile-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.caract-card {
  width: 55vw;
  height: 25vh;
}
.caract-card img {
  height: 10vh;
  width: 20vw;
  margin-bottom: 3vh;
}
.caract-card h3 {
  text-align: center;
}

@media screen and (min-width: 460px) {
  /*----Media queries de Recomendados----*/
  .titles h3 {
    font-size: 2vh;
  }
  .titles p {
    font-size: 1.8vh;
  }
  .products {
    width: 40vw;
  }
  .products img {
    width: 40vw;
    height: 15vh;
  }
  .share-img img {
    height: 4vh;
    width: 4vw;
  }
  .articles {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
  }
  .portada {
    height: 15vh;
  }

  .descuentos-span {
    width: 15vw;
    height: 2vh;
    padding: 1.3vh;
  }
  .recomendados-section {
    width: 100vw;
    height: 100vh;
  }
  .polygono {
    height: 100vh;
  }
  /*----Media queries de Caracteristicas----*/
  .polygono-caract {
    position: absolute;
    top: 0;
    left: 10vw;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    clip-path: polygon(46% 0, 100% 0, 100% 100%, 54% 100%);
  }
  .caract-section {
    justify-content: center;
  }
  .caract-card {
    position: relative;
    left: 29vw;
    width: 25vw;
    height: 20vh;
  }
  .caract-card img {
    height: 6vh;
    width: 10vw;
    margin-bottom: 3vh;
  }
}
@media screen and (min-width: 900px) {
  /*----Media queries de Recomendados----*/
  .recomendados-section {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding-top: 10vh;

    width: 100vw;
    height: 100vh;
  }
  .portada {
    width: 20vw;
    height: 23vh;
  }
  .products {
    width: 20vw;
  }
  .products img {
    width: 20vw;
    height: 23vh;
  }
  .share-img img {
    height: 3.5vh;
    width: 3.5vw;
  }
  .share-img p {
    width: 9vw;
    height: 4vh;
    font-size: 2vh;
  }
  .articles {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
  }
  .descuentos-span {
    height: 3vh;
    font-size: 1vw;
  }
  .polygono {
    height: 100vh;
  }
  .titles h3 {
    font-size: 3.5vh;
  }
  .titles p {
    font-size: 3vh;
  }
  /*----Media queries de Caracteristicas----*/
  .polygono-caract {
    clip-path: polygon(26% 0, 100% 0, 100% 100%, 34% 100%);
    height: 49vh;
  }
  .caract-section {
    background-image: url('/img/bgGamer.jpg');
    background-position: -13vw -1vh;
    background-size: contain;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
  }
  .caract-card {
    position: relative;
    align-items: center;
    left: 19vw;
    width: 11vw;
    height: 14vh;
  }
  .caract-card img {
    height: 9vh;
    width: 7vw;
    margin-bottom: 3vh;
  }
}
