.category-section{
  position: relative;
  padding: 3rem 0;
}
.categories {
  justify-content: space-evenly;
}
.categories-div {
  flex-direction: row;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.titles-categories {
  width: 50vw;
}
.titles-categories h3 {
  margin-bottom: 2vh;
}
.categories-div button {
  font-size: 2vh;
  padding: 0;
  border: none;
  background-color: transparent;

  font-weight: bold;
  color: white;
}

/*----Estilos de la tarjeta de categorias----*/
.fondoCategoria {
  position: absolute;
  width: 80vw;
  height: 10rem;
  opacity: 0.7;
  z-index: 0;
  object-fit: cover;
}
.categories {
  gap: 3vh;
}
.categories-card {
  width: 80vw;
  height: 10rem;

  flex-direction: row-reverse;
}
.polygono-categories {
  position: relative;
  z-index: 0;
  width: 43vw;
  clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%);
  opacity: 0.8;

  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
}
.img-categories img {
  position: relative;
  width: 32vw;
  height: 22vh;
  opacity: 1;
  object-fit: contain;
  transition: linear 0.5s;
}

.img-categories img:hover {
  width: 33vw;
  height: 23vh;
}

/*----Estilos del Footer----*/
.polygono-footer {
  position: absolute;
  left: 30%;
  width: 70%;
  height: 40vh;
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 28% 100%);
}
.footer-section {
  height: 40vh;
  border-top: solid 1px;
}
.footer-section h4 {
  position: relative;
  text-align: center;
  font-weight: 500;
}
.pieInfo {
  height: 30vh;
  z-index: 3;
  position: relative;
  justify-content: space-between;
}
.botones-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
.pieInfo button {
  display: block;
  color: white;
  height: 5vh;
  width: 100%;
  background-color: black;
  border: double 2px white;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);

  transition: 0.5s;
}
.pieInfo button:hover {
  background-color: gray;
}
.logoFooter img {
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 460px) {
  /*----MediaQueries de Categorias----*/
  .category-section{
    padding: 2rem 0;
  }
  .poligon-cat{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
    height: 100%;
    width: 50vw;
    top: 0;
  }
    .fondoCategoria {
    width: 41vw;
    height: 19vh;
  }
  .categories {
    margin: 0 3vw;
    flex-direction: row;
    flex-wrap: wrap;
    height: 84vh;
  }
  .categories-card {
    display: flex;
    background-size: cover;
    width: 42vw;
    height: 19vh;
  }
  .img-categories img {
    width: 20vw;
    height: 18vh;
  }
  .polygono-categories {
    font-size: 2vh;
  }
  /*----Media Queries del Footer----*/
  .pieInfo button {
    height: 6vh;
    font-size: 3vw;
  }
  .footer-section h4 {
    font-size: 3vw;
  }
  .logoFooter img {
    width: 85%;
  }
}
@media screen and (min-width: 900px) {
  .fondoCategoria {
    width: 28vw;
    height: 30vh;
  }
  .categories {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
  .categories-card {
    width: 28vw;
    height: 30vh;
  }
  .img-categories img {
    height: 25vh;
    width: 11vw;
  }
  .polygono-categories {
    font-size: 3.5vh;
  }
  .titles-categories {
    font-size: 3vh;
  }
  /*----Media Queries del Footer----*/
  .pieInfo button {
    height: 7vh;
    font-size: 2vw;
  }
  .footer-section h4 {
    font-size: 2vw;
  }
}
