.main {
    position: relative;
  }
  
.home-section {
    position: relative;
  }
.video_main {
    position: fixed;
    left: 0;
    width: 75%;
    object-fit: cover;
    z-index: -1;
  }
  .video-container {
    left: 0;
    height: 210vh;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  .span-home{
    width: 50vw;
    float: right;
    object-fit: cover;
    z-index: 1;
  }
  /*Seccion de previsualizacion*/
.present-view-section{
  position: relative;
  z-index: 3;
}
.prev-zone{
  width: 70vw;
}
.product-prev{
  width: 51.5vw;
  clip-path: polygon(27% 0, 100% 0, 100% 100%, 0% 100%);
}
.product-prev_2{
  width: 40vw;
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
}
.product-prev_3{
  width: 25vw;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

