.main {
  position: relative;
}

.home-section {
  position: relative;
}
.video_main {
  position: fixed;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.video-container {
  left: 0;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.span-home {
  display: none;
  width: 50vw;
  float: right;
  object-fit: cover;
  z-index: 1;
}

/*----Estilos para la SECTION "Recomendados"----*/
.recomendados-section {
  width: 100%;
  z-index: 1;
  position: relative;
}
.recomendados {
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 2rem 0;
  gap: 1rem;
}
.btn-vermas{
  z-index: 2;
  transition: ease-out .2s;
}
.btn-vermas:hover{
  background: white;
  color: black;
}
.titles {
  z-index: 2;
}
.polygono {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  z-index: 0;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

/*----Estilos de la Cards----*/
.container-cards{
  flex-wrap: wrap;
  z-index: 3;
  padding-bottom: 7vh;
}
.info {
  padding: 0.8rem 0.2rem;
}
.name-game {
  gap: 1vh;
}
.name-game p {
  color: rgb(154, 154, 154);
}
.precio {
  font-weight: 600;
  font-size: 2.5vh;
}
.products{
  width: 90vw;
  margin: 1rem 0;
}
.products img{
  position: absolute;
  width: 90vw;
  height: 8.5rem;
}
.portada {
  align-items: flex-end;
  height: 8.5rem;
  width: 100%;
}
.share-img{
  z-index: 3;
}
.descuentos-span {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  width: 50vw;
  height: 5vh;
  padding: 2.2vh;
  font-weight: 700;
}
#icon-cart{
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
}
.share-img p {
  width: 13vw;
  font-size: 1.5vh;
  font-weight: 600;
}

/*----Estilos de Seccion Caracteristicas----*/
.container-caract{
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.image-caract img{
  display: none;
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
  height: 17rem;
  width: 48.8vw;
  object-fit: cover;
}
.icon-elem{
  width: 45vw;
  height: 6.5rem;
  margin-top: 3vh;
}
.star{
  background: url('/img/star1.png') no-repeat center;
}
.securedown{
  background: url('/img/arrow-down.jpg') no-repeat center;
}
.clientat{
  background: url('/img/chat1.jpg') no-repeat center;
}
.coin{
  background: url('/img/coin1.jpg') no-repeat center;
}
.icon-size-caract{
  height: 3rem;
  width: 3rem;
  background-size: 100%;
}

/*Selectores del home para redirigir segun la consola*/
.child-home {
  height: 100vh;
  position: relative;
}
.marca-present {
  padding-top: 24vh;
}
.logo__home {
  height: 20vh;
  width: 20vw;
}
.dh-title {
  font-size: 8vh;
  font-weight: 300;
  width: 60vw;
  font-family: 'Sunflower', sans-serif;
}
.menu-select {
  font-size: 3.5vh;
  gap: 1vh;
  padding-bottom: 3vh;
}
.icon-cont {
  width: 13vw;
  height: 4.5vh;
  flex-wrap: wrap;
}
.select {
  width: 84vw;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  padding: 1vh;
  height: 2.5rem;
  border: solid 1px grey;
  transition: all 0.5s;
}
.select:hover {
  background: black;
  width: 90vw;
  border-color: rgb(195, 0, 255);
}
/*Seccion de previsualizacion*/
.logo-prec {
  height: 57vh;
  align-items: flex-end;
}
.sub-msj {
  height: 39vh;
  margin: 2vh;
}
.sub-msj p {
  font-size: 3.5vh;
  font-weight: 400;
}
.sub-msj h2 {
  font-weight: 500;
  font-size: 7vh;
  width: 30vw;
}
/* SECCION DE PRESENTACION SLIDE HOME */
.present-view-section {
  position: relative;
  z-index: 3;
  display: none;
}
.polig-sect {
  transition: width 2s;
  width: 100%;
}
.product-prev {
  transition: width 2s;
  width: 51.5vw;
  background: url('/vectors/poligone.svg') no-repeat;
  background-size: cover;
  background-position: center;
}
.product-prev_2 {
  width: 42vw;
  background: url('/vectors/poligtwo.svg') no-repeat;
  transition: width 2s;
  background-size: cover;
  background-position: center;
}
.product-prev_3 {
  width: 30vw;
  background: url('/vectors/poligthree.svg') no-repeat;
  transition: width 2s;
  background-size: cover;
  background-position: center;
}
.not-padd {
  padding: 0;
}
.content-prev {
  width: 30vw;
  height: 80vh;
  visibility: hidden;
  gap: 5vh;
}
.product-prev:hover {
  width: 100vw;
  gap: 10vw;
}
.product-prev:hover .content-prev {
  visibility: visible;
}
.product-prev:hover .size-per {
  left: 10vw;
}
.product-prev_2:hover {
  width: 100vw;
  gap: 15vw;
}
.product-prev_2:hover .content-prev {
  visibility: visible;
}
.product-prev_2:hover .ban-cont__halo {
  width: 30vw;
}
.product-prev_2:hover .size-per {
  left: 10vw;
}
.product-prev_3:hover {
  width: 100vw;
  gap: 30vw;
}
.product-prev_3:hover .content-prev {
  visibility: visible;
}
.product-prev_3:hover .size-per {
  left: 10vw;
}
.product-prev_3:hover .ban-gow {
  width: 30vw;
}
.product-prev_3:hover .not-padd {
  padding: 2vh 6vw;
}
.size-per {
  width: 20vw;
  height: 75vh;
  position: relative;
}
.ban-cont {
  width: 30vw;
  height: 25vh;
  object-position: top;
  object-fit: cover;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}
.ban-gow {
  width: 2vw;
}
.ban-cont__halo {
  width: 10vw;
}

@media screen and (min-width: 460px) {
  /*----Media queries de Recomendados----*/
  .dh-title{
    font-size: 6vh;
  }
  .info{
    height: 5.5rem;
  }
  .container-cards{
    justify-content: space-evenly;
  }
  .products {
    width: 40vw;
  }
  .products img {
    width: 40vw;
    height: 15vh;
  }
  /* CARDS STYLE MEDIA */
  .portada {
    height: 15vh;
  }
  .descuentos-span {
    width: 16vw;
    height: 1rem;
  }
  .recomendados-section {
    width: 100vw;
  }
  .recomendados{
    margin: 0 5vw;
  }
  /*----Media queries de Caracteristicas----*/
  
}
@media screen and (min-width: 770px) {
  /*----Media queries de Recomendados----*/
  .recomendados-section {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding-top: 10vh;
    width: 100%;
  }
  .portada {
    width: 40vw;
    height: 20vh;
  }
  .products {
    width: 40vw;
  }
  .products img {
    width: 40vw;
    height: 20vh;
  }
  .share-img p {
    width: 9vw;
    height: 4vh;
    font-size: 1.5vh;
  }
  /*----Media queries de Caracteristicas----*/
  
}