.detail-product{
    
}
.poligon-detail{
    position: absolute;
    top: 10vh;
    right: 0;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    height: 90vh;
}
.detail-portada{
    position: relative;
    z-index: 2;
}
.detail-portada img{
    height: 50vh;
    width: 70vw;
}
.detail-info{
    position: relative;
    z-index: 2;
}

.no-mobile{
    display: none;
}
.no-tablet{
    display: none;
}
.no-desktop{
    display: none;
}
@media screen and (min-width:361px) {
    .no-mobile{
        display: initial;
    }
}
@media screen and (min-width:780px){
    .no-tablet{
        display: initial;
    }
}
@media screen and (min-width:1000px){
    .no-desktop{
        display: initial;
    }
}