* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}
.antiancor {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.not-border {
  border: none;
}
/*Colores de fondos*/
.bg-dark {
  background: rgba(23, 23, 23, 1);
}
.bg-dkblue {
  background: rgba(1, 0, 72, 1);
}
.bg-limagreen {
  background: rgba(78, 205, 33, 1);
}
.bg-purple {
  background: rgba(142, 0, 191, 1);
}
.text-white {
  color: #ffffff;
}
/*Properties FLEX*/
.flex {
  display: flex;
}
.j-content-center {
  justify-content: center;
}
.j-content-space-betwen {
  justify-content: space-between;
}
.j-content-betwen {
  justify-content: space-between;
}
.j-content-around {
  justify-content: space-around;
}
.f-direction-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
/*Margenes y anchos*/
.mg-lat-1 {
  margin: 0 1vh;
}
.h-100 {
  height: 100vh;
}
.w-100 {
  width: 100%;
}
.w-35 {
  width: 35vw;
}
.center {
  margin: auto 0;
}
/*Propiedades del menu Nav*/
.header-home {
  height: 9vh;
  position: fixed;
  background: transparent;
  z-index: 2;
}
.nav-proj {
  gap: 1vh;
}
.search-input {
  width: 50vw;
  height: 5vh;
}
.logo {
  height: 6vh;
  width: 6vh;
}
.star-icon {
  background: url('/vectors/star.svg') no-repeat;
  background-size: cover;
}
.user-icon {
  background: url('/vectors/Usuario.svg') no-repeat;
  background-size: cover;
}
.reg-icon {
  background: url('/img/bgbuttonreg.jpg') no-repeat;
  background-size: cover;
  height: 7vh;
  opacity: 0.5;
}
.cart-icon {
  background: url('/vectors/cart.svg') no-repeat;
  background-size: cover;
}
.flag-icon {
  background: url('/vectors/Pais.svg') no-repeat;
  background-size: contain;
  background-position: center;
}
.menu-lat {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  z-index: 3;
}
.menu-lat.activo {
  transform: translateX(0);
  display: block;
}
.btn-menu {
  background: url('/vectors/list.svg') no-repeat;
  background-size: cover;
  border: none;
}
.btn-cls {
  float: right;
  background: url('/vectors/x-lg.svg') no-repeat;
  background-size: cover;
  height: 5vh;
  width: 5vh;
  border: none;
  margin: 2vh 2vh;
}
main {
  padding-top: 9vh;
}
/*Propiedades responsivas*/
.not-mobile {
  display: none;
}
.not-tablet {
  display: none;
}
.not-desktop {
  display: none;
}
@media screen and (min-width: 460px) {
  .not-mobile {
    display: unset;
  }
}
@media screen and (min-width: 770px) {
  .not-tablet {
    display: unset;
  }
  .search-input {
    width: 30vw;
  }
}
@media screen and (min-width: 900px) {
  .not-desktop {
    display: unset;
  }
}
