    <footer class="pie text-white">
        <section class="footer-section w-100 bg-dkblue">
          <div class="polygono-footer bg-dark"></div>
          <article class="pieInfo flex align-center j-content-space-betwen ">
            <div class="botones-footer">
              <button>Sobre Nosotros</button>
              <button>Reglas de la Comunidad</button>
              <button>Términos de servicio</button>
            </div>
            <div class="logoFooter">
              <img src="/vectors/favicon.svg" alt="Logo de Footer">
            </div>
          </article>
          <h4>Copyright ©2023 Digital Gaming Inc. Todos los derechos reservados.</h4>
        </section>
        <div class="copyright"></div>
    </footer