<header class="w-100 header-home text-white flex align-center cenrter">
    <nav class="w-100 nav-proj mg-lat-1 flex align-center j-content-space-betwen">
        <div class="flex align-center w-35 j-content-around">
            <img src="/vectors/favicon.svg" alt="logo" class="logo home-navigate">
            <div class="logo not-tablet flag-icon not-border"></div>
            <div class="logo not-mobile star-icon not-border"></div>
            <div class="categ-nav flex text-white not-tablet align-center pointer">
                <p class="size-font-parr">Categorias</p>
                <span class="flex icon-double-bott"></span>
                <section class="despcat bg-dark w-100">
                    <div class="content-cat w-100 flex align-center j-content-center ">
                        <article class="card-caregorinav flex">
                          <img src="/img/portada-marioarcade.jpg" alt="arcade mario">
                          <h1 class="tamano-title tlt-card flex align-center j-content-center">ARCADE</h1>
                        </article>
                        <article class="card-caregorinav flex">
                          <img src="/img/portada-alienav.jpg" alt="terror aliens">
                          <h1 class="tamano-title tlt-card flex align-center j-content-center">TERROR</h1>
                        </article>
                        <article class="card-caregorinav flex">
                          <img src="/img/portada-ufcdeportes.jpg" alt="arcade mario">
                          <h1 class="tamano-title tlt-card flex align-center j-content-center">DEPORTES</h1>
                        </article>
                        <article class="card-caregorinav flex">
                          <img src="/img/portada-assetonav.jpg" alt="arcade mario">
                          <h1 class="tamano-title tlt-card flex align-center j-content-center">SIMULACION</h1>
                        </article>
                    </div>
                </section>
            </div>
        </div>
        <div class="cont-barfind">
            <input type="text" placeholder="Buscar" class="search-input text-white">
            <a href="" class="lupa pointer">
                <img src="/vectors/search.svg" alt="lupa">
            </a>
        </div>
        <div class="flex align-center w-35 j-content-around">
            <div class="logo not-tablet cart-icon not-border"></div>
            <a href="" class="reg-icon antiancor text-center pointer not-tablet">REGISTRATE</a>
            <div class="logo not-mobile user-icon"></div>
            <button class="logo btn-menu"></button>
        </div>
    </nav>
    <div class="menu-lat bg-dark w-100 h-100">
        <button class="close btn-cls"></button>
        <div class="flex align-center j-content-center">
            <ul class="pointer menu-cont text-white text-center flex align-center j-content-center f-direction-column h-100 tamano-title">
                <li class="menu-elem home-navigate">Home</li>
                <li class="menu-elem">Catalogo</li>
                <li class="menu-elem">Categorias</li>
                <li class="menu-elem">Nosotros</li>
                <li class="menu-elem">Carrito</li>
                <li class="menu-elem">Contacto</li>
            </ul>
        </div>
    </div>
    <div>
      <input type="text" placeholder="Buscar" class="search-input" />
    </div>
    <div class="flex align-center w-35 j-content-around">
      <button class="logo not-tablet cart-icon not-border"></button>
      <button class="not-tablet reg-icon">REGISTRATE</button>
      <button class="logo not-mobile user-icon"></button>
      <button class="logo btn-menu"></button>
    </div>
  </nav>
  <div class="menu-lat bg-dark w-100 h-100">
    <button class="close btn-cls"></button>
    <div class="text-center">
      <ul class="pointer">
        <li class="menu-elem"></li>
        <li class="menu-elem"></li>
        <li class="menu-elem"></li>
        <li class="menu-elem"></li>
        <li class="menu-elem"></li>
        <li class="menu-elem"></li>
      </ul>
    </div>
  </div>
</header>